.homePage{
    /* display: flex;
    overflow: hidden;
    width: 100%;
    padding: 8px;
    border-radius: 20px;
    background-color: rgb(156 163 175);
    background-clip: padding-box;
    backdrop-filter: blur(8px); */
    width: 100%;
    padding: 8px;
    border-radius: 20px;
    background-color: transparent;
    /* background-color: rgb(156 163 175); */
    background-clip: padding-box;
    backdrop-filter: blur(8px);
    display: flex;
}